<ion-header>
  <ion-toolbar>
    <ion-title>
      Tecnicos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="obtenerFiltros()">
        <ion-icon slot="icon-only"  name="options"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
    Filtro Seleccionado
    <div *ngIf="technicals">
    <div *ngFor="let technical of technicals">
        <app-tecnic-card [id]="technical.id"></app-tecnic-card>  
    </div>
  </div>
    
</ion-content>
